@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    margin-left: 52px;
}

.sidebar {
    font-family: Roboto, sans-serif;
    width: 320px;
    background-color: #333;
    box-shadow: 0 0 10px 0 #222;
    height: 100%;
    position: fixed;
    top: 0;
    left: -268px;
    z-index: 999999;
    font-size: 14px;
}

.sidebar.child {
    margin-left: 52px;
    left: -340px;
}

.sidebar .heading {
    color: #1a1a1a;
    text-shadow: 0 1px rgba(255, 255, 255, .095);
    line-height: 1;
    border-bottom: 1px solid #1a1a1a;
    padding: 10px 11px;
    margin: 3px 0 0 0;
    font-size: 24px;
}

.sidebar .menu-item, .sidebar .static-menu-item {
    display: block;
    padding: 10px 17px;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}

.sidebar .menu-item:hover, .sidebar .menu-item.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar .icon {
    float: right;
}